* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  //background-color: black;
  *:focus {
    outline: none;
  }
}
ol, ul {
  list-style: none;
}
button {
  cursor: pointer;
}
a,
a:visited,
a:active,
a:link {
  text-decoration: none;
  color: inherit;
}

//공통 스타일 추가
html {
  background: url("../images/bg.png") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}


#app {
  font-family: NotoSansKR-Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

@font-face {
  font-family: 'NotoSansKR-Regular';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.woff2") format('woff2'),
  url("../fonts/NotoSansKR-Regular.woff") format('woff'),
  url("../fonts/NotoSansKR-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'NotoSansKR-Medium';
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Medium.woff2") format('woff2'),
  url("../fonts/NotoSansKR-Medium.woff") format('woff'),
  url("../fonts/NotoSansKR-Medium.otf") format('opentype');
}

@font-face {
  font-family: 'NotoSansKR-Bold';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.woff2") format('woff2'),
  url("../fonts/NotoSansKR-Bold.woff") format('woff'),
  url("../fonts/NotoSansKR-Bold.otf") format('opentype');
}
